.event-content-inner-main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.event-content-list-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 800px;
  max-height: 650px;
  overflow: auto;
}


.event-type-content-row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 800px;
  max-height: 650px;
  overflow: auto;
}

.event-type-content-row-div > div {
  padding: 1em 1em;
}
